Repository saltstack-formulas/salt-formula, changes with the owners that CODEOWNERS names for each.
All owners: @saltstack-formulas/wg, @myii, @saltstack-formulas/ssf, @sticky-note, @hatifnatt

fix(service): service `salt-master` and 'salt-minion' to (re)start last.
  salt/master.sls
  salt/minion.sls
Owners: @saltstack-formulas/wg

fix(service): service `salt-master` and 'salt-minion' to (re)start last.
  salt/master.sls
  salt/minion.sls
Owners: @saltstack-formulas/wg

fix(service): service salt-master and salt-minion to (re)start last.
  salt/master.sls
  salt/minion.sls
Owners: @saltstack-formulas/wg

fix(service): service salt-master and salt-minion to restart last
  salt/master.sls
  salt/minion.sls
Owners: @saltstack-formulas/wg

fix(service): service salt-master and salt-minion to restart last
  salt/master.sls
  salt/minion.sls
Owners: @saltstack-formulas/wg

feat(master): enable option to set master scheduler
  pillar.example
  salt/files/master.d/f_defaults.conf
Owners: @saltstack-formulas/wg

chore(release): 1.5.1 [skip ci]
  AUTHORS.md
  CHANGELOG.md
  FORMULA
  docs/AUTHORS.rst
  docs/CHANGELOG.rst
Owners: @saltstack-formulas/ssf

fix(windows): dont run master state
  salt/init.sls
  salt/master.sls
Owners: @saltstack-formulas/wg

fix(windows): git.latest(parallel:true) does not work
  salt/defaults.yaml
  salt/formulas.sls
  salt/osmap.yaml
Owners: @saltstack-formulas/wg, @sticky-note, @myii

fix(windows): group name is users not root
  salt/osmap.yaml
Owners: @saltstack-formulas/wg

fix(windows): group arg not supported on windows
  salt/formulas.sls
  salt/osfamilymap.yaml
  salt/osmap.yaml
Owners: @sticky-note, @myii, @saltstack-formulas/wg

fix(jinja): stop repeating user/group args
  salt/formulas.sls
Owners: @sticky-note, @myii

chore(release): 1.5.2 [skip ci]
  AUTHORS.md
  CHANGELOG.md
  FORMULA
  docs/AUTHORS.rst
  docs/CHANGELOG.rst
Owners: @saltstack-formulas/ssf

feat: enable the metadata grains server by default
  salt/files/cloud.providers.d/_ec2.conf
Owners: @saltstack-formulas/wg

chore(release): 1.6.0 [skip ci]
  AUTHORS.md
  CHANGELOG.md
  FORMULA
  docs/AUTHORS.rst
  docs/CHANGELOG.rst
Owners: @saltstack-formulas/ssf

ci(pre-commit): add to formula [skip ci]
  .pre-commit-config.yaml
  .rstcheck.cfg
  .travis.yml
  bin/install-hooks
Owners: @saltstack-formulas/wg, @saltstack-formulas/ssf

CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# SECTION: Owner(s) for everything in the repo, unless a later match takes precedence
# FILE PATTERN                              OWNER(S)
*                                           @saltstack-formulas/wg

# SECTION: Owner(s) for specific directories
# FILE PATTERN                              OWNER(S)
/test/                                      @myii

# SECTION: Owner(s) for files/directories related to `semantic-release`
# FILE PATTERN                              OWNER(S)
/.github/workflows/                         @saltstack-formulas/ssf
/bin/kitchen                                @saltstack-formulas/ssf
/docs/AUTHORS.rst                           @saltstack-formulas/ssf
/docs/CHANGELOG.rst                         @saltstack-formulas/ssf
/docs/TOFS_pattern.rst                      @saltstack-formulas/ssf
/salt/libsaltcli.jinja                      @saltstack-formulas/ssf
/salt/libtofs.jinja                         @saltstack-formulas/ssf
/test/integration/**/inspec.yml             @saltstack-formulas/ssf
/test/integration/**/README.md              @saltstack-formulas/ssf
/.gitignore                                 @saltstack-formulas/ssf
/.cirrus.yml                                @saltstack-formulas/ssf
/.rubocop.yml                               @saltstack-formulas/ssf
/.salt-lint                                 @saltstack-formulas/ssf
/.travis.yml                                @saltstack-formulas/ssf
/.yamllint                                  @saltstack-formulas/ssf
/AUTHORS.md                                 @saltstack-formulas/ssf
/CHANGELOG.md                               @saltstack-formulas/ssf
/CODEOWNERS                                 @saltstack-formulas/ssf
/commitlint.config.js                       @saltstack-formulas/ssf
/FORMULA                                    @saltstack-formulas/ssf
/Gemfile                                    @saltstack-formulas/ssf
/Gemfile.lock                               @saltstack-formulas/ssf
/kitchen.yml                                @saltstack-formulas/ssf
/pre-commit_semantic-release.sh             @saltstack-formulas/ssf
/release-rules.js                           @saltstack-formulas/ssf
/release.config.js                          @saltstack-formulas/ssf

# SECTION: Owner(s) for specific files
# FILE PATTERN                              OWNER(S)
/salt/formulas.sls                          @sticky-note @myii
/salt/pin.sls                               @hatifnatt
